<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bredställs Burgare</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="js/js_script.js"></script>
    <script src="js/vue_script.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
</head>
<body>
    <main>

        <div class="head">
            <h1>Välkommen till Bredställs Burgare</h1>
        </div>
        <img src="/img/header3.jpg" alt="" title="" class="friesHeader">
      <hr>
        <section>

            <div class="burgerHeader">
                <div class="burgerHeaderImage">

                </div>
                <h2> Välj burgare </h2>
                <p> Här hittar du vårat utbud</p>
            </div>
                <div style=" overflow: hidden;" class="burgerSection" align="center">
                    <div style="width: 33%; float: left; " >
                        <h2> Baconburgaren </h2>
                        <img src="/img/umamiBacon.jpg" alt="Bacon Burger" title="BaconBurgaren" style="width:270px;height:250px;">
                        <ul>
                            <li> 1400 kCal </li>
                            <li> Kött :) </li>
                            <li> Bacon </li>
                            <li> Sallad, Tomat, Lök </li>
                            <li> Cheddar </li>
                            <li> Bredställs hemliga sås </li>
                            <section class="allergy" id="allergyFont">
                                <li> Gluten </li>
                                <li> Laktos </li>
                            </section>
                        </ul>
                    </div>
                    <div style="width: 33%; float: left;">
                        <h2> Låtsas-kycklingburgaren </h2>
                        <img src="/img/nochick.jpg" alt="No-Chicken Burger" style="width:270px;height:250px;">
                        <ul>
                            <li> 1100 kCal </li>
                            <li> Låtsaskyckling från fabriken </li>
                            <li> Gurka, Sallad, Tomat, Lök </li>
                            <li> Bredställs hemliga veganska sås </li>
                            <li> Stark tomatsås </li>
                        </ul>
                    </div>

                    <div style="width: 33%; float: left;">
                        <h2> Halloumiburgaren </h2>
                        <img src="/img/halloumi.jpg" alt="Bacon Burger" style="width:270px;height:250px;">
                        <ul>
                            <li> 1600 kCal </li>
                            <li> Veganskt bröd </li>
                            <li> Färsk halloumi </li>
                            <li> Bostongurka </li>
                            <li> Sallad, Tomat, Lök </li>
                            <li> Bredställs hemliga veganska sås </li>
                            <section class="allergy" id="allergyFont">
                                <li> Gluten </li>
                            </section>
                        </ul>
                </div>



        </section>
        <section>

                <div style=" overflow: hidden;" class="customerInformationSection" align="center">
                    <h2> Kundinformation </h2>
                    <p> Här fyller du in information som behövs för leverans och din personliga anpassning</p>
                    <div style="width: 30%; float: left;">
                        <p>
                            <label for="name">Namn</label><br>
                            <input type="text" id="name" name="helanamnet" required="required" placeholder="För och Efternamn" />
                        </p>
                        <p>
                            <label for="email">E-mail</label><br>
                            <input type="email" id="email" name="em" required="required" placeholder="E-mail adress" />
                        </p>
                        <p>
                            <label for="gata">Gata</label><br>
                            <input type="gata" id="gata" name="em" required="required" placeholder="Gatunamn" />
                        </p>

                        <p>
                            <label for="husnr">Hus-nummer</label><br>
                            <input type="husnr" id="husnr" name="husnr" required="required" placeholder="0" />
                        </p>
                        <br/>
                        <button type="submit" id="finish"><img src="/img/buttons/finish.png" style="width:30px;height:30px;" />
                            Lägg beställning
                        </button>
                    </div>
                    <div style="width: 40%; float: left;">
                        <p>
                            <label for="paymethod"> Betalningsmetod </label><br />

                            <button type="submit" id="paymethod"><img src="/img/buttons/visa.png" style="width:90px;height:50px;" /></button>
                            <button type="submit" id="paymethod"><img src="/img/buttons/mastercard.png" style="width:80px;height:50px;" /></button>
                            <button type="submit" id="paymethod"><img src="/img/buttons/paypal.png" style="width:50px;height:50px;" /></button>
                            <button type="submit" id="paymethod"><img src="/img/buttons/bitcoin.png" style="width:50px;height:50px;" /></button>
                        </p>

                        <p class="pAlignLeft">
                            <label for="genus">Genus</label><br>
                            <input type="radio" id="genus" name="fn" required="required" placeholder="First name" />
                            Man <br/>
                            <input type="radio" id="genus" name="ln" placeholder="Last name" />
                            Kvinna <br/>
                            <input type="radio" id="genus" name="em" required="required" placeholder="E-mail address" />
                            Icke-binär <br/>
                            <input checked= "checked" type="radio" id="genus" name="em" required="required" placeholder="E-mail address" />
                            Förborgad
                        </p>


                    </div>
                </div>





        </section>
        <hr>
        <footer>
            <h4> August Bredberg</h4>
            <p> &copy; 2020 Bredställs mat och tjänster</p>
            <p> augustbredberg@gmail.com </p>
            <p> 0761674575 </p>
        </footer>
    </body>
</main>
</html>