<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bredställs Burgare</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
        <h1>Välkommen till Bredställs Burgare</h1>
        <section>
            <h2> Välj burgare </h2>
            <p> Här hittar du vårat utbud</p>
            <span>
                <h3> Baconburgaren           Halloumiburgaren          No-Chickenburgaren</h3>
                <img src="/img/umamiBacon.jpg" alt="Bacon Burger" title="BaconBurgaren" style="width:250px;height:250px;">
                <img src="/img/halloumi.jpg" alt="Bacon Burger" style="width:270px;height:250px;">
                <img src="/img/nochick.jpg" alt="No-Chicken Burger" style="width:270px;height:250px;">
            <h3> Halloumiburgaren </h3>

            </span>
        </section>
        <section>
            <h2> Kundinformation </h2>
            <p> Här fyller du in information som behövs för leverans och din personliga anpassning</p>
        </section>

        <footer>
            <h4> August Bredberg</h4>
            <p> augustbredberg@gmail.com </p>
            <p> 0761674575 </p>
        </footer>
    </body>
</main>
</html>