<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bredställs Burgare</title>
    <meta charset="utf-8"/>
</head>
<body>
    <main>
        <h1>Välkommen till Bredställs Burgare</h1>
        <section>
            <h2> Välj burgare </h2>
            <p> Här hittar du vårat utbud</p>
            <div style="width: 100%; overflow: hidden;">
                <div style="width: 350px; float: left;">
                    <h2> Baconburgaren </h2>
                    <img src="/img/umamiBacon.jpg" alt="Bacon Burger" title="BaconBurgaren" style="width:270px;height:250px;">
                    <ul>
                        <li> Kött :) </li>
                        <li> Bacon </li>
                        <li> Sallad, Tomat, Lök </li>
                        <li> Cheddar </li>
                        <li> Bredställs hemliga sås </li>
                    </ul>
                </div>
                <div style="width: 350px; float: left;">
                    <h2> Låtsas-kycklingburgaren </h2>
                    <img src="/img/nochick.jpg" alt="No-Chicken Burger" style="width:270px;height:250px;">
                    <ul>
                        <li> Låtsaskyckling från fabriken </li>
                        <li> Gurka, Sallad, Tomat, Lök </li>
                        <li> Bredställs hemliga veganska sås </li>
                        <li> Stark tomatsås </li>
                    </ul>
                </div>

                <div style="width: 350px; float: left;">
                    <h2> Halloumiburgaren </h2>
                    <img src="/img/halloumi.jpg" alt="Bacon Burger" style="width:270px;height:250px;">
                    <ul>
                        <li> Veganskt bröd </li>
                        <li> Färsk halloumi </li>
                        <li> Bostongurka </li>
                        <li> Sallad, Tomat, Lök </li>
                        <li> Bredställs hemliga veganska sås </li>
                    </ul>
            </div>



        </section>
        <section>
            <h2> Kundinformation </h2>
            <p> Här fyller du in information som behövs för leverans och din personliga anpassning</p>
            <div>
                <p>
                    <label for="name">Namn</label><br>
                    <input type="text" id="name" name="helanamnet" required="required" placeholder="För och Efternamn" />
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail adress" />
                </p>
                <p>
                    <label for="gata">Gata</label><br>
                    <input type="gata" id="gata" name="em" required="required" placeholder="Gatunamn" />
                </p>

                <p>
                    <label for="husnr">Hus-nummer</label><br>
                    <input type="husnr" id="husnr" name="husnr" required="required" placeholder="0" />
                </p>
            </div>
        </section>

        <footer>
            <h4> August Bredberg</h4>
            <p> augustbredberg@gmail.com </p>
            <p> 0761674575 </p>
        </footer>
    </body>
</main>
</html>