body {
    font-family: arial;
}

.allergy{
    color: #ff5500;
    font-weight: bold;
}

.burgerSection{
    #background-color: #ff5500;
}

.customerInformationSection{

    background-color: black;
    color: white;
}

#allergyFont {
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: aqua;


    color: aqua;
}

