
.head{
    color: black;
    padding-left: 32vw;
    margin: 10px;
    height: 22vh;
    position: absolute;
}

img.friesHeader {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

head {
    top: 80px;
    right: 50px;
    height: 100px;
}

body {
    font-family: arial;
    font-size: 2vh;
    margin: 0 auto;
}

table {
    padding: 50px;
    width: 90vh;
    height: 350px;
    background-color: black;
}

footer {
    padding-left: 40vw;
}

ul {
    text-align: left;
    list-style: inside;
    display:table; margin:0 auto;
}

.pAlignLeft {
    text-align: left;
    list-style: inside;
    display:table; margin:0 auto;
}


.allergy{
    color: #ff5500;
    font-weight: bold;
}

.burgerHeader{
    height: 15vh;
    padding-left: 42vw;
    margin: 0px;
    #object-fit: cover;
}

.burgerSection{
    #background-color: #ff5500;
    width: 100vw;
    height: 60vh;
    #padding-left: 21vw;
    border: 4px dashed black;
}

.burgerDiv {
    width: 30vh;
}

.burgerTable {
    width: 1000px;
    padding-left: 50px;
}


.customerInformationSection{

    background-color: black;
    color: white;
    width: 100vw;
    height: 50vh;
    #padding-left: 20vw;
    border: 4px dashed white;
}

#allergyFont {
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: aqua;


    color: aqua;
}

